/* Table of Contents
/* ------------------------------------------------------------

1. Basics & tools
2. Layout
3. Header
4. Navigation
5. Footer
6. Breadcrumbs
7. Content

x. Media Queries

*/

/* Basics & tools
/* ---------------------------------------------------------- */
:root {
  --dark-grey: #323232;
  --medium-grey: #4A4A4A;
  --light-grey: #F7F7F7;
  --white: #FFF;
}
body {
  margin: 0;
  background-color: var(--white);
}

/* Layout
/* ---------------------------------------------------------- */
.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.layout-side {
  flex: 0 0 18rem;
  background-color: var(--medium-grey);
}

.layout-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

/* Header
/* ---------------------------------------------------------- */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .75rem;
  background-color: var(--dark-grey);
}

/* Navigation
/* ---------------------------------------------------------- */


/* Footer
/* ---------------------------------------------------------- */
.footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-copy {
  text-transform: capitalize;
}

/* Breadcrumbs
/* ---------------------------------------------------------- */
.breadcrumbs {
  flex: 0 0 auto;
}

/* Content
/* ---------------------------------------------------------- */
.content {
  flex: 1 1 auto;
  overflow: auto;
}

/* Media Queries
/* ---------------------------------------------------------- */
@media (max-width: 50rem) {
  .layout {
    flex-direction: column;
    min-height: auto;
  }
  .layout-content {
    height: auto;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
