/* Table of Contents
/* ------------------------------------------------------------

1. Basics & tools
2. Layout
3. Header
4. Navigation
5. Footer
6. Toolbar
7. Content
8. Media Queries

*/

/* Basics & tools
/* ---------------------------------------------------------- */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --darker-grey: #131313;
  --dark-grey: #323232;
  --medium-grey: #4A4A4A;
  --light-grey: #E6E6E6;
  --lighter-grey: #F7F7F7;
  --white: #FFF;
  --PD-blue: #31A6EA;
  --blue: #269BE8;
  --dark-blue: #1274B4;
  --darker-blue: #0F5C8F;
  --alert: #FF8296;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--medium-grey);
  font-family: Roboto, sans-serif;
}

a:link,
a:visited {
  color: var(--blue);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--PD-blue);
}

.svg-sprite {
  display: none;
}

.nobullet {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  border: .0625rem solid var(--darker-blue);
  background-color: var(--white);
  border-radius: 0;
  padding: .25rem .75rem;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: .8rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--darker-blue);
  color: var(--white);
}

.button:active {
  background-color: var(--dark-blue);
}

.button--icononly {
  padding: .25rem .4rem;
}

.button--subtle {
  border: 0;
  background-color: transparent;
}

.button-icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--white);
  padding: 1rem;
  box-shadow: 0 .125rem .250rem 0 var(--light-grey);
}

.dropdown.active {
  display: block;
}

.group {
  position: relative;
  display: inline-flex;
}

.group * + * {
  border-left: 0;
}
/* Layout
/* ---------------------------------------------------------- */
.layout {
  display: flex;
  min-height: 100vh;
}

.layout-side {
  flex: 0 0 18rem;
  position: relative;
  background-color: var(--medium-grey);
}

.layout-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

/* Header
/* ---------------------------------------------------------- */
.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .7rem;
  min-height: 5rem;
  background-color: var(--dark-grey);
}

.burger {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

/* Navigation
/* ---------------------------------------------------------- */
.navigation {
  padding: 1.25rem;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-listitem {
  display: flex;
  margin: 0 0 2rem 0;
  font-size: .75rem;
  font-weight: bold;
}

.navigation-link:link,
.navigation-link:visited {
  display: inline-flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--PD-blue);
}

.navigation-link:active{
  color: var(--blue);
}

.navigation-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1.25rem;
  fill: currentcolor;
}

.navigation-badge {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  border-radius: .25rem;
  padding: 0 .25rem;
  background-color: var(--alert);
  color: var(--darker-grey);
}

.avatar {
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: .8rem;
  border-radius: 100%;
  border: .0625rem solid var(--blue);
}

/* Footer
/* ---------------------------------------------------------- */
.footer {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1.5rem 1.5rem;
  padding: 1rem 0;
  border-top: .0625rem solid var(--light-grey);
}

.footer-copy {
  text-transform: capitalize;
}

.footer-nav {
  display: flex;
  align-items: flex-start;
  font-size: .85rem;
}

.footer-navitem {
  padding: 0 .5rem;
}

.footer-navitem a:link,
.footer-navitem a:visited {
  color: var(--medium-grey);
}

.footer-navitem a:hover,
.footer-navitem a:focus {
  text-decoration: none;
  color: var(--blue);
}

.footer-navitem a:active {
  color: var(--dark-blue);
}

/* Toolbar
/* ---------------------------------------------------------- */
.toolbar {
  box-sizing: border-box;
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  padding: 1rem 1.5rem;
  background-color: var(--blue);
}

.breadcrumbs {
  font-size: 1.7rem;
  color: var(--white);
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
  color:var(--white);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: var(--light-grey);
  text-decoration: none;
}

.breadcrumbs a:active {
  color: var(--medium-grey);
}

/* Content
/* ---------------------------------------------------------- */
.content {
  flex: 1 1 auto;
  overflow: auto;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--lighter-grey);
  border-bottom: .0625rem solid var(--light-grey) ;
}

.tab-button {
  padding: 1.25rem;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.tab-button[aria-selected=true],
.tab-button:hover,
.tab-button:focus {
  background-color: var(--white);
  font-weight: bold;
  border-bottom: .1875rem solid var(--blue) ;
}

.tab-panel {
  padding: 1.625rem;
}

.profile {
  margin-top: 1.5rem;
}

.profile dt {
  font-weight: bold;
}
.profile dd {
  margin: 0 0 1.5rem 0;
}

/* Media Queries
/* ---------------------------------------------------------- */
@media (max-width: 50rem) {
  .layout {
    flex-direction: column;
    min-height: auto;
  }

  .layout-side {
    flex-basis: auto;
  }

  .layout-content {
    height: auto;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .navigation {
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 5rem;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: var(--medium-grey);
    transition: left 300ms ease-in-out;
  }

  .navigation.active {
    left: 0;
  }

  .burger {
    display: block;
  }
}
