/* Table of Contents
/* ------------------------------------------------------------

1. Basics & tools
2. Layout
3. Header
4. Navigation
5. Footer
6. Toolbar
7. Content

x. Media Queries

*/

/* Basics & tools
/* ---------------------------------------------------------- */
:root {
  --darker-grey: #131313;
  --dark-grey: #323232;
  --medium-grey: #4A4A4A;
  --light-grey: #e6e6e6;
  --white: #FFF;
  --PD-blue: #31A6EA;
  --blue: #269BE8;
  --dark-blue: #1274B4;
  --darker-blue: #0F5C8F;
  --alert: #FF8296;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--medium-grey);
}

.svg-sprite {
  display: none;
}

.nobullet {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  border: .0625rem solid var(--darker-blue);
  background-color: var(--white);
  border-radius: 0;
  padding: .5rem;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--darker-blue);
  color: var(--white);
}

.button:active {
  background-color: var(--dark-blue);
}

/* Layout
/* ---------------------------------------------------------- */
.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.layout-side {
  flex: 0 0 18rem;
  background-color: var(--medium-grey);
}

.layout-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

/* Header
/* ---------------------------------------------------------- */
.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .7rem;
  min-height: 5rem;
  background-color: var(--dark-grey);
}

/* Navigation
/* ---------------------------------------------------------- */
.navigation {
  padding: 1.25rem;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-listitem {
  display: flex;
  margin: 0 0 2rem 0;
  font-size: .75rem;
  font-weight: bold;
}

.navigation-link:link,
.navigation-link:visited {
  display: inline-flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--PD-blue);
}

.navigation-link:active{
  color: var(--blue);
}

.navigation-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1.25rem;
  fill: currentcolor;
}

.navigation-badge {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  border-radius: .25rem;
  padding: 0 .25rem;
  background-color: var(--alert);
  color: var(--darker-grey);
}

.avatar {
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: .8rem;
  border-radius: 100%;
  border: .0625rem solid var(--blue);
}

/* Footer
/* ---------------------------------------------------------- */
.footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.5rem 1.5rem;
  padding: 1rem 0;
  border-top: .0625rem solid var(--light-grey);
}

.footer-copy {
  text-transform: capitalize;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: .85rem;
}

.footer-navitem {
  padding: 0 .5rem;
}

.footer-navitem a:link,
.footer-navitem a:visited {
  color: var(--medium-grey);
}

.footer-navitem a:hover,
.footer-navitem a:focus {
  text-decoration: none;
  color: var(--blue);
}

.footer-navitem a:active {
  color: var(--dark-blue);
}

/* Toolbar
/* ---------------------------------------------------------- */
.toolbar {
  box-sizing: border-box;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  padding: 1rem 1.5rem;
  background-color: var(--blue);
}

.breadcrumbs {
  font-size: 1.7rem;
  color: var(--white);
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
  color:var(--white);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: var(--light-grey);
  text-decoration: none;
}

.breadcrumbs a:active {
  color: var(--medium-grey);
}
/* Content
/* ---------------------------------------------------------- */
.content {
  flex: 1 1 auto;
  overflow: auto;
}

/* Media Queries
/* ---------------------------------------------------------- */
@media (max-width: 50rem) {
  .layout {
    flex-direction: column;
    min-height: auto;
  }

  .layout-side {
    flex-basis: auto;
  }

  .layout-content {
    height: auto;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .navigation {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: var(--medium-grey);
    transition: left 300ms ease-in-out;
  }
  .navigation.active {
    left: 0;
  }
}
